*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.cxd-Page-body {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}